.photo-border {
    height: 100%;
    width: 60%;
    min-width: 700px;
    min-height: 400px;
    display: flex;
}

.blur {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px) brightness(40%);
}

.photo {
    width: 550px;
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 5%;
    transition: filter .5s;
}

.photo:hover {
    filter: hue-rotate(90deg);
}
